<div class="film-details">
    <p>Created Date: <span>{{ film.created }}</span></p>
    <p>Director: <span>{{ film.director }}</span></p>
    <p>Planets: <span>{{ film.planets }}</span></p>
    <p>Producer: <span>{{ film.producer }}</span></p>
    <p>Release Date: <span>{{ film.release_date}}</span></p>
    <p>Species: <span>{{ film.species }}</span></p>
    <p>Starships: <span>{{ film.starships }}</span></p>
    <p>Title: <span>{{ film.title }}</span></p>
    <p>Vehicles: <span>{{ film.vehicles }}</span></p>
</div>